.navbar > a:nth-child(4) {
  background: #b5c97f;
}

.grid.content-left {
  padding: 20px 32px;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  border-right: 10px solid #b5c97f;
  padding: 0px;
  margin: 40px 0px;
}
.content {
  margin: 10px 150px;
}

.content-text {
  font-size: 23px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(54, 45, 45);
}
.content-text a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.content-text1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #586e26;
}
